@import "../global/global";

header {
    background-color: $dark;
    color: $white;
    @include font-bebas;
    box-shadow: 10px 10px -10px rgba(33,35,38,0.1);
    h1 {
        margin: 0;
        padding: 1.5rem 0;
        letter-spacing: 2px;
        @include font-size(45);
    }
}