@mixin font-bebas {
    font-family: 'Bebas Neue', 'Arial', 'sans-serif';
    font-weight: 400;
}

@mixin font-roboto {
    font-family: 'Roboto', 'sans-serif';
}

@mixin transition {
    transition: all 0.3s ease-in-out;
}

@mixin border-radius {
    border-radius: 4px;
}

@mixin font-size($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue / 20) * 1rem;
}