@import "../global/global";

.searchBar {
    background-color: $cream;
    padding: 2rem 0;
}

form {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;

    @include tablet {
        flex-wrap: nowrap;
    }

    input {
        border: 4px solid $green;
        @include border-radius;
        padding: 0.5rem;
        width: 100%;
    }

    input[type="text"] {
        padding: 0.5rem 1rem 0.4rem 1rem;
        @include font-bebas;
        @include font-size(30);
        color: $black;
        &::placeholder {
            @include font-bebas;
            @include font-size(30);
            text-align: center;
        }

        @include tablet {
            width: 75%;
            &::placeholder {
                text-align: left;
            }
        }
    }

    input[type="submit"] {
        @include font-bebas;
        @include font-size(30);
        margin: 0.5rem 0 0 0;
        background-color: $lighter;
        @include transition;
        padding: 0.5rem 1rem 0.4rem 1rem;
        &:active, &:hover, &:focus {
            background-color: $dark;
            border-color: $dark;
            color: $white;
        }
        @include tablet {
            margin: 0 0 0 0.5rem;
            @include font-size(35);
            padding: 0.5rem;
            width: calc(25% - 0.5rem);
        }
    }
}

@include tablet {

    }

    @include desktop {
        
    }