@import "../global/global";

.searchListContainer {
    display: flex;
    justify-content: space-between;
    .half {
        width: 49%;
        &:first-child {
            background-color: yellow;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}